<div class="add-listing-container">
    <p>Add listing</p>
    <img class="listing-preivew-image" [src]="imageSrc">
    <button *ngIf="this.selectedFile==null" type="button" id="add-image-button" mat-fab extended (click)="fileInput.click()">Upload Image</button>
    <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept="image/*">
    <!-- <span class="file-name">{{selectedFile?.name}}</span>       -->
    <button *ngIf="this.selectedFile!=null" type="button" id="add-image-button" mat-fab extended (click)="clearFileSelected()">Clear Image</button>
    <form [formGroup]="form">  
    <mat-form-field>
        <mat-label>Listing name</mat-label>
        <input matInput formControlName="name" placeholder="Red umbrella" required>
        <mat-error>{{getErrorName()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Starting price</mat-label>
        <input type="number" formControlName="startingPrice"  matInput placeholder="1" required>
        <mat-error>{{getErrorStartingPrice()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="slightly used, still works"></textarea>
        <mat-error>{{getErrorDescription()}}</mat-error>
    </mat-form-field>
</form>
    <div class = "buttons">
        <button mat-fab extended id="add-button" (click)="proceedAddListing()">Add</button>
    </div>
</div>
