:host{
    display: flex;
    width: 500px;
    margin: auto;
    flex-direction: column;
    padding: 20px;
}

mat-form-field{
    width: 100%;
}

.listing-preview-image{
    aspect-ratio: 3/2;
    max-height: 400px;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    padding-bottom: 0px;
}

.dialog-button{
    transform:scale(1.1);
    margin-right: 18px;
    margin-bottom: 8px;
}

.dialog-button:first-child{
    margin-left: auto;
}

.dialog-button:last-child{
    color:white;
    background-color: #3F51B5;
}

#add-image-button{
    color:#3F51B5;
    background-color:white;
    width:38%;
    margin-bottom: 20px;
    margin-left:auto;
}
