mat-grid-tile{
    background-color: lightgray;
}

.tile-content{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tile-content > p {
    width: 100px;
    text-align: center;
}

mat-grid-tile:nth-child(odd){
    background-color:darkgray
}

:host{
    min-height: 200px;
    height: 400px;
    margin-top:22px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

mat-grid-list{
    flex-grow: 1;
    overflow: auto;
    border-radius:2px;
}
  