mat-grid-tile{
    background-color: lightgray;
  }
mat-grid-tile:nth-child(odd){
    background-color:darkgray
}

:host{
    min-height: 200px;
    height: 400px;
    margin-top:22px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

mat-grid-list{
    flex-grow: 1;
    overflow: auto;
    border-radius:2px;
}
  