.listing-view{
  margin: auto;
  min-width: 1000px;
  max-width: 1200px;
  padding: 30px;
}

.warning-wrapper{
  min-width: 1000px;
  max-width: 1200px;
  padding-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-radius: 5px;
  border-color:orange;
  background-color: rgb(250, 190, 61);
}

#warning-text{
  color:rgb(85, 58, 0);
  font-size: 20px;
  line-height: 150%;
}

.listing-image{
  aspect-ratio: 3/2;
  max-height: auto;
  max-width: 100%;
  min-width: 100%;
  object-fit: cover;
  padding-bottom: 0px;
}

.warning-header{
  display:flex;
  flex-direction: row-reverse;
}

.warning-button{
  color:rgb(85, 58, 0);
  transform: scale(1.2);
  margin-right: 24px;
}

.warning-button:first-child{
  margin-left:auto;
}

.product-card {
    width: 700px;
    background-size: cover;
}

.bid-price-wrapper{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 50px;
}

mat-card-content{
  padding-left:10px;
  padding-top:5px;
  font-size:14px;
}

#suggested-text{
  font-size:24px;
  padding-bottom: 16px;
}

.price-wrapper{
  display: flex;
  flex-direction: row;
  padding-bottom:16px;
}

.price-values{
  margin-left: auto;
}

#current-price{
  font-size: 24px;
}

#starting-price{
  font-size:12px;
}

#starting-price-value{
  text-align: right;
}
  
.main-listing-wrapper{
  display: flex;
  flex-direction: row;
  padding-bottom:70px;
}

app-bid-grid{
  width: 100%;
}

.product-card-text{
  margin-left: 14px;
  margin-bottom: 14px;
  margin-top: 8px;
}

.similar{
  display: flex;
  flex-direction: row;
}

.add-bid-button{
  width:80px;
  height: 80px;
  position: fixed;
  bottom:60px;
  right: 60px;
  z-index: 1;
}

.mat-icon{
  scale: 1.5;
}

.bid-input{
  display:flex;
  flex-direction: column;
}
