.listing-view{
  margin: auto;
  min-width: 1000px;
  max-width: 1200px;
  padding: 30px;
}

.product-card {
    width: 700px;
    background-size: cover;
}

.bid-price-wrapper{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 50px;
}

mat-card-header{
  padding-bottom: 16px;
}

mat-card-content{
  padding-left:10px;
  padding-top:5px;
  font-size:14px;
}

#suggested-text{
  font-size:24px;
  padding-bottom: 16px;
}

.price-wrapper{
  display: flex;
  flex-direction: row;
  padding-bottom:16px;
}

.price-values{
  margin-left: auto;
}

#current-price{
  font-size: 24px;
}

#starting-price{
  font-size:12px;
}

#starting-price-value{
  text-align: right;
}
  
.main-listing-wrapper{
  display: flex;
  flex-direction: row;
  padding-bottom:70px;
}

app-bid-grid{
  width: 100%;
}

.similar{
  display: flex;
  flex-direction: row;
}

.add-bid-button{
  width:80px;
  height: 80px;
  position: fixed;
  bottom:60px;
  right: 60px;
  z-index: 1;
}

.mat-icon{
  scale: 1.5;
}

.bid-input{
  display:flex;
  flex-direction: column;
}
