.example-card {
    max-width: 400px;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.container{
  display: flex;
  flex-direction: row;
}

app-bid-grid{
  width: 100%;
}

.similar{
  display: flex;
  flex-direction: row;
}

.similar-card{
  display:flex;
  max-width: 200px;
}

