<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>{{listing?.name}}</mat-card-title>
        <mat-card-subtitle>{{listing?.activatedDate}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>
            {{listing?.currentPrice}}
        </mat-card-title>
    </mat-card>
    <app-bid-grid [bids]="listing?.bids!"></app-bid-grid>
</div>
{{listing?.description}}
<div class="similar" >
    <mat-card class="similar-card" *ngFor="let item of similarListings" routerLink="/view/{{item.id}}">
        <mat-card-header>
        <mat-card-title>{{item?.name}}</mat-card-title>
        <mat-card-subtitle>{{item?.activatedDate}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-title>
            {{item?.currentPrice}}
        </mat-card-title>
    </mat-card>
    <button mat-fab class="add-button" routerLink="/add"><mat-icon>add</mat-icon></button>
</div>


