<div class="search-container">
    <mat-form-field appearance="outline" class="name-search">
        <input matInput placeholder="Type here to search" [(ngModel)]="searchInput" (keyup.enter)="OnSearch()">
        <mat-icon matPrefix>search</mat-icon> 
    </mat-form-field>
    <mat-form-field appearance="outline" class="price-search">
        <input matInput placeholder="(Optional)Price" [(ngModel)]="searchInputPrice" (keyup.enter)="OnSearch()">
        <mat-icon matPrefix>attach_money</mat-icon> 
    </mat-form-field>
</div>
